body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
}

video {
  width: 80%;
  background: black;
}